<div class="setupPanel">
    <input class="searchfield" type="text" [(ngModel)]="userName" />
    <button class="searchbtn" on-click="onButtonClick()">Find Weather</button>

    <ng-container *ngIf="loading">
    <div style="margin-top: 30px; margin-left: 100px;"><img src="../../../assets/loading.gif" /></div>
</ng-container>
    <div style="margin-top: 30px;">
        <ng-container *ngFor="let weather of wath">
            <div *ngIf="weather">"{{ weather.main }}"</div>
        </ng-container>
    </div>
</div>
